<header class="container-fluid">
    <a class="navbar-brand logo" href="#">
      <img class="logo-adr-header" src="../../assets/images/logo gov+adr.svg" alt="ADR Balears" title="Agència de desenvolupament regional de les Illes Balears" width="420" height="auto">
    </a>
    <div class="language-select">
      <button class="btn" #langSelect (click)="switchLanguage('es-ES')">cas</button>
      /<button class="btn" #langSelect (click)="switchLanguage('en-EN')">eng</button>  
      /<button class="btn" #langSelect (click)="switchLanguage('ca-ES')">cat</button>
    </div>
</header>