
.form-container-child {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "bookingForm bookingCalendar" "eventDetail eventDetail";
  border-radius: .5rem;
  border: 2px solid #003747;
  gap: 1rem;
  padding: 1rem;
}

form {
  padding-top: 1rem;
  grid-area: bookingForm;
}

.the-calendar {
  grid-area: bookingCalendar;
}

.event-detail{
  grid-area: eventDetail;
}

.event-class {
 /*  color: #003747;
  background-color: transparent; */
  border: 2px;
  font-weight: 300;
  text-align: left;
  word-break: break-all!important;
  hyphens: manual;
}

mat-form-field {
  width: 100%;
}

.button-submit {
  text-align: right;
}

.cal-day-column {
  margin: auto;
  width: 60%;
}

.cal-event{
  display: flex;
  flex-wrap: wrap;
  align-content: left;
  padding: 0 5px;
  margin: auto;
  width: 75%;
  line-height: 28px;
  text-align: left;
  background-color: #003747;
}

.cal-week-view .cal-time-events .cal-day-column {
  margin-right: 10px;
}

.cal-week-view .cal-hour {
  width: calc(100% + 10px);
}

.ocultar {
  display: none;
}

.event-detail {
  padding: .5rem;
  text-align: left;
}

.cell-totals {
  margin: 5px;
  text-align: left;
}
.badge {
  margin-right: 5px;
}

@media (max-width: 795px) {

  .form-container-child {
    grid-template-columns: 100%;
    grid-template-areas: "bookingForm" "bookingCalendar";
  }

}
