<section class="accordion" id="accordionHomeForms">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span *ngIf="currentLang === 'es'">Reservas RECINTO EMPRESARIAL DE MENORCA</span>
        <span *ngIf="currentLang === 'ca'">Reserves RECINTE EMPRESARIAL DE MENORCA</span>
        <span *ngIf="currentLang === 'en'">Booking RECINTE EMPRESARIAL DE MENORCA</span>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionHomeForms">
      <div class="accordion-body">
        <strong>Using this <a routerLink="/menorca" aria-label="booking menorca">form</a> you can request the reservation of the resources of our fairgrounds in Menorca: GROGA, BLAVA, BLANCA and VERMELLA rooms.

          Pavilion A</strong> 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Request service from our Departament de Disseny
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionHomeForms">
      <div class="accordion-body">
        <strong>With this <a routerLink="/disseny" aria-label="booking menorca">form</a> you can request design works to our Disseny department. Works such as:</strong> 
        <ul>
          <li>Brochures</li>
          <li>Guides</li>
          <li>Posters, signage</li>
          <li>Revision of publications</li>
          <li>Corporate image</li>
          <li>Stationery</li>
        </ul>
        <a routerLink="listDesignRequests">View design requests</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        ADR Balears corporative web site
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionHomeForms">
      <div class="accordion-body">
        <p>The ADR Balears is an instrumental entity of the Ministry of Enterprise, Employment and Energy of the Government of the Balearic Islands. The Regional Development Agency of the Balearic Islands aims to promote the development of economic and business activity in the Balearic Islands, with criteria of competitiveness, sustainability, territorial and sectoral rebalancing, making available to entrepreneurs and businesses, especially micro, small and medium enterprises, the information and resources necessary for their implementation and to improve their management and increase their competitiveness, either directly or through coordination and collaboration with other public and private entities that pursue similar objectives.</p>
        <a href="https://adrbalears.es" target="_blank" aria-label="visit the adr balears web site">Visit our web site</a>
      </div>
    </div>
  </div>
</section>

