<h3 class="title-home">
  <span *ngIf="currentLang === 'es-ES'">Registro de solicitudes de diseño por parte de las direcciones generales de CAIB para el Servicio de Diseño Gráfico y Audiovisual de la ADR BALEARS.</span>
  <span *ngIf="currentLang === 'ca-ES'">Registre de sol·licituds de disseny per part de les direccions generals de CAIB per al Servei de Disseny Gràfic i Audiovisual de l'ADR BALEARS.</span>
  <span *ngIf="currentLang === 'en-EN'">Registration of design requests by the general directorates of CAIB for the Graphic and Audiovisual Design Service of the ADR BALEARS.</span>
  
</h3>
<form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col mb-3">
        <mat-form-field appearance="outline">
          <mat-label>
            <span *ngIf="currentLang === 'es-ES'">Directorio de organismos</span>
            <span *ngIf="currentLang === 'ca-ES'">Directori d'organismes</span>
            <span *ngIf="currentLang === 'en-EN'">Directory of organization units</span>
          </mat-label>
          <select matNativeControl formControlName="agency" aria-label="Default select example">
            <optgroup style="background-color:#0098cb;color:#000;" label="Presidència Govern de les Illes Balears">
              <option value="Gabinet de la Presidència">Gabinet de la Presidència</option>
            </optgroup>
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria d'Economia, Hisenda i Innovació">
              <option value="Secretaria General-Conselleria d'Economia, Hisenda i Innovació">Secretaria General</option>
              <option value="Direcció General d'Economia i Estadística">Direcció General d'Economia i Estadística</option>
              <option value="Direcció General de Pressuposts i Finançament">Direcció General de Pressuposts i Finançament</option>
              <option value="Direcció General del Tresor, Política Financera i Patrimoni">Direcció General del Tresor, Política Financera i Patrimoni</option>
              <option value="Direcció General de Fons Europeus">Direcció General de Fons Europeus</option>
              <option value="Direcció General d'Estratègia Digital i Simplificació Administrativa">Direcció General d'Estratègia Digital i Simplificació Administrativa</option>
              <option value=">Direcció General d'Innovació i Transformació Digital">Direcció General d'Innovació i Transformació Digital</option>
              <option value="Intervenció General de la Comunitat Autònoma de les Illes Balears">Intervenció General de la Comunitat Autònoma de les Illes Balears</option>
              <option value="Junta Superior d'Hisenda de les Illes Balears">Junta Superior d'Hisenda de les Illes Balears</option>
              <option value="Agència Tributària de les Illes Balears (ATIB)">Agència Tributària de les Illes Balears (ATIB)</option>
              <option value="Institut d'Estadística de les Illes Balears (IBESTAT)">Institut d'Estadística de les Illes Balears (IBESTAT)</option>
              <option value="Fundació Balear d'Innovació i Tecnologia (FBIT)">Fundació Balear d'Innovació i Tecnologia (FBIT)</option>
              <option value="Agència Balear de Digitalització, Ciberseguretat i Telecomunicacions (IB Digital)">Agència Balear de Digitalització, Ciberseguretat i Telecomunicacions (IB Digital)</option>
            </optgroup>
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria de Presidència i Administracions Públiques">
              <option value="Secretaria General-Conselleria de Presidència i Administracions Públiques">Secretaria General</option>
              <option value="irecció General de Coordinació i Transparència">Direcció General de Coordinació i Transparència</option>
              <option value="Direcció General de Relacions Institucionals i de Relacions amb el Parlament">Direcció General de Relacions Institucionals i de Relacions amb el Parlament</option>
              <option value="Direcció General de Funció Pública">Direcció General de Funció Pública</option>
              <option value="Direcció General d'Emergències i Interior">Direcció General d'Emergències i Interior</option>
              <option value="Direcció de l'Advocacia de la Comunitat Autònoma de les Illes Balears">Direcció de l'Advocacia de la Comunitat Autònoma de les Illes Balears</option>
              <option value="Escola Balear d'Administració Pública (EBAP)">Escola Balear d'Administració Pública (EBAP)</option>
              <option value="Ens Públic de Radiotelevisió de les Illes Balears (EPRTVIB)">Ens Públic de Radiotelevisió de les Illes Balears (EPRTVIB)</option>
              <option value="Gestió d'Emergències de les Illes Balears (GEIBSAU)">Gestió d'Emergències de les Illes Balears (GEIBSAU)</option>
              <option value="Fundació Illes Balears d'Acció Exterior (FIBAE)">Fundació Illes Balears d'Acció Exterior (FIBAE)</option>
            </optgroup>
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria d'Empresa, Ocupació i Energia">
              <option value="Secretaria General-Conselleria d'Empresa, Ocupació i Energia">Secretaria General</option>
              <option value="Secretaria Autonòmica de Treball, Ocupació i Diàleg Social">Secretaria Autonòmica de Treball, Ocupació i Diàleg Social</option>
              <option value="Direcció General d'Indústria i Polígons Industrials">Direcció General d'Indústria i Polígons Industrials</option>
              <option value="Direcció General d'Economia Circular, Transició Energètica i Canvi Climàtic">Direcció General d'Economia Circular, Transició Energètica i Canvi Climàtic</option>
              <option value="Agència de Desenvolupament Regional de les Illes Balears (ADR Balears)">Agència de Desenvolupament Regional de les Illes Balears (ADR Balears)</option>
              <option value="Institut Balear de l'Energia (IBE)">Institut Balear de l'Energia (IBE)</option>
            </optgroup>
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria de Salut">
              <option value="Secretaria General-Conselleria de Salut">Secretaria General</option>
              <option value="Direcció General de Salut Pública">Direcció General de Salut Pública</option>
              <option value="Direcció General de Recerca en Salut, Formació i Acreditació">Direcció General de Recerca en Salut, Formació i Acreditació</option>
              <option value="Direcció General de Prestacions, Farmàcia i Consum">Direcció General de Prestacions, Farmàcia i Consum</option>
              <option value="Direcció General de Salut Mental">Direcció General de Salut Mental</option>
              <option value="Servei de Salut de les Illes Balears (IBSALUT)">Servei de Salut de les Illes Balears (IBSALUT)</option>
              <option value="Agència de Salut Pública de les Illes Balears">Agència de Salut Pública de les Illes Balears</option>
              <option value="Fundació Banc de Sang i Teixits de les Illles Balears">Fundació Banc de Sang i Teixits de les Illles Balears</option>
              <option value="Fundació Institut d'Investigació Sanitària de les Illes Balears (IdISBa)">Fundació Institut d'Investigació Sanitària de les Illes Balears (IdISBa)</option>
              <option value="Gestió Sanitària i Assistencial de les Illes Balears">Gestió Sanitària i Assistencial de les Illes Balears</option>
              <option value="Defensor dels Usuaris del Sistema Sanitari Públic de les Illes Balears">Defensor dels Usuaris del Sistema Sanitari Públic de les Illes Balears</option>
            </optgroup>
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria d'Educació i Universitats">
              <option value="Secretaria General-Conselleria d'Educació i Universitats">Secretaria General</option>
              <option value="Direcció General de Personal Docent i Centres Concertats">Direcció General de Personal Docent i Centres Concertats</option>
              <option value="Direcció General d'Universitats, Recerca i Ensenyaments Artístics Superiors">Direcció General d'Universitats, Recerca i Ensenyaments Artístics Superiors</option>
              <option value="Secretaria Autonòmica de Desenvolupament Educatiu">Secretaria Autonòmica de Desenvolupament Educatiu</option>
              <option value="Institut d'Avaluació i Qualitat del Sistema Educatiu (IAQSE)">Institut d'Avaluació i Qualitat del Sistema Educatiu (IAQSE)</option>
              <option value="Direcció Territorial d'Educació de Menorca">Direcció Territorial d'Educació de Menorca</option>
              <option value="Direcció Territorial d'Educació d'Eivissa i Formentera">Direcció Territorial d'Educació d'Eivissa i Formentera</option>
              <option value="Institut Balear d'Infraestructures i Serveis Educatius (IBISEC)">Institut Balear d'Infraestructures i Serveis Educatius (IBISEC)</option>
              <option value="Fundació per als Estudis Superiors de Música i Arts Escèniques de les Illes Balears (FESMAE-IB)">Fundació per als Estudis Superiors de Música i Arts Escèniques de les Illes Balears (FESMAE-IB)</option>
            </optgroup>
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria d'Habitatge, Territori i Mobilitat">
              <option value="Secretaria General-Conselleria d'Habitatge, Territori i Mobilitat">Secretaria General</option>
              <option value="Direcció General d'Habitatge i Arquitectura">Direcció General d'Habitatge i Arquitectura</option>
              <option value="Direcció General de Mobilitat">Direcció General de Mobilitat</option>
              <option value="Direcció General de Territori i Paisatge">Direcció General de Territori i Paisatge</option>
              <option value="Direcció General d'Harmonització Urbanística i Avaluació Ambiental">Direcció General d'Harmonització Urbanística i Avaluació Ambiental</option>
              <option value="Institut Balear de l'Habitatge (IBAVI)">Institut Balear de l'Habitatge (IBAVI)</option>
              <option value="Serveis Ferroviaris de Mallorca (SFM)">Serveis Ferroviaris de Mallorca (SFM)</option>
              <option value="Consorci de Transports de Mallorca (CTM)">Consorci de Transports de Mallorca (CTM)</option>
              <option value="Institut Cartogràfic i Geogràfic de les Illes Balears (ICGIB)">Institut Cartogràfic i Geogràfic de les Illes Balears (ICGIB)</option>
              <option value="Consorci per al Desenvolupament d'Actuacions de Millora i Construcció d'Infraestructures al Territori de l'Entitat Local Menor de Palmanyola">Consorci per al Desenvolupament d'Actuacions de Millora i Construcció d'Infraestructures al Territori de l'Entitat Local Menor de Palmanyola</option>
            </optgroup>
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria de Turisme, Cultura i Esports">
              <option value="Secretaria General-Conselleria de Turisme, Cultura i Esports">Secretaria General</option>
              <option value="Direcció General de Turisme">Direcció General de Turisme</option>
              <option value="Secretaria Autonòmica de Cultura i Esports">Secretaria Autonòmica de Cultura i Esports</option>
              <option value="Agència d'Estratègia Turística de les Illes Balears (AETIB)">Agència d'Estratègia Turística de les Illes Balears (AETIB)</option>
              <option value="Consorci Escola d'Hoteleria de les Illes Balears (EHIB)">Consorci Escola d'Hoteleria de les Illes Balears (EHIB)</option>
              <option value="Consorci d'Infraestructures de les Illes Balears">Consorci d'Infraestructures de les Illes Balears</option>
              <option value="Institut d'Indústries Culturals de les Illes Balears (ICIB)">Institut d'Indústries Culturals de les Illes Balears (ICIB)</option>
              <option value="Institut d'Estudis Baleàrics (IEB)">Institut d'Estudis Baleàrics (IEB)</option>
              <option value="Fundació Orquestra Simfònica Illes Balears (OSIB)">Fundació Orquestra Simfònica Illes Balears (OSIB)</option>
              <option value="Fundació Robert Graves">Fundació Robert Graves</option>
              <option value="Fundació per a l'Esport Balear">Fundació per a l'Esport Balear</option>
            </optgroup>          
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria de Famílies i Afers Socials">
              <option value="Secretaria General-Conselleria de Famílies i Afers Socials">Secretaria General</option>
              <option value="Direcció General d'Afers Socials">Direcció General d'Afers Socials</option>
              <option value="Direcció General d'Atenció a la Dependència">Direcció General d'Atenció a la Dependència</option>
              <option value="Direcció General d'Infància, Joventut, Famílies, Igualtat i Diversitat">Direcció General d'Infància, Joventut, Famílies, Igualtat i Diversitat</option>
              <option value="Direcció General de Cooperació i Immigració">Direcció General de Cooperació i Immigració</option>
              <option value="Institut Balear de la Dona (IBDONA)">Institut Balear de la Dona (IBDONA)</option>
              <option value="Institut Balear de la Joventut (IBJOVE)">Institut Balear de la Joventut (IBJOVE)</option>
              <option value="Consorci de Recursos Sociosanitaris i Assistencials de les Illes Balears">Consorci de Recursos Sociosanitaris i Assistencials de les Illes Balears</option>
              <option value="Fundació d'Atenció i Suport a la Dependència i de Promoció de l'Autonomia Personal de les Illes Balears">Fundació d'Atenció i Suport a la Dependència i de Promoció de l'Autonomia Personal de les Illes Balears</option>
              <option value="Fundació Institut Socioeducatiu S'Estel">Fundació Institut Socioeducatiu S'Estel</option>
              <option value="Oficina Balear de la Infància i l'Adolescència (OBIA)">Oficina Balear de la Infància i l'Adolescència (OBIA)</option>
            </optgroup>
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria de la Mar i del Cicle de l'Aigua">
              <option value="Secretaria General-Conselleria de la Mar i del Cicle de l'Aigua">Secretaria General</option>
              <option value="Direcció General de Costes i Litoral">Direcció General de Costes i Litoral</option>
              <option value="Direcció General de Recursos Hídrics">Direcció General de Recursos Hídrics</option>
              <option value="Direcció General de Ports i Transport Marítim">Direcció General de Ports i Transport Marítim</option>
              <option value="Ports de les Illes Balears (Ports IB)">Ports de les Illes Balears (Ports IB)</option>
              <option value="Agència Balear de l'Aigua i la Qualitat Ambiental (ABAQUA)">Agència Balear de l'Aigua i la Qualitat Ambiental (ABAQUA)</option>
              <option value="Consorci d'Aigües de les Illes Balears">Consorci d'Aigües de les Illes Balears</option>
            </optgroup>
            <optgroup style="background-color:#0098cb;color:#000;" label="Conselleria d'Agricultura, Pesca i Medi Natural">
              <option value="Secretaria General-Conselleria d'Agricultura, Pesca i Medi Natural">Secretaria General</option>
              <option value="Direcció General d'Agricultura, Ramaderia i Desenvolupament Rural">Direcció General d'Agricultura, Ramaderia i Desenvolupament Rural</option>
              <option value="Direcció General de Pesca">Direcció General de Pesca</option>
              <option value="Direcció General de Medi Natural i Gestió Forestal">Direcció General de Medi Natural i Gestió Forestal</option>
              <option value="Direcció General de Qualitat Agroalimentària i Producte Local">Direcció General de Qualitat Agroalimentària i Producte Local</option>
              <option value="Fons de Garantia Agrària i Pesquera de les Illes Balears (FOGAIBA)">Fons de Garantia Agrària i Pesquera de les Illes Balears (FOGAIBA)</option>
              <option value="Institut de Recerca i Formació Agroalimentària i Pesquera de les Illes Balears (IRFAP)">Institut de Recerca i Formació Agroalimentària i Pesquera de les Illes Balears (IRFAP)</option>
              <option value="Institut Balear de la Natura (IBANAT)">Institut Balear de la Natura (IBANAT)</option>
              <option value="Consorci per a la Recuperació de la Fauna de les Illes Balears (COFIB)">Consorci per a la Recuperació de la Fauna de les Illes Balears (COFIB)</option>
            </optgroup>          
          </select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            <span *ngIf="currentLang === 'es-ES'">Nombre de la persona a contactar</span>
            <span *ngIf="currentLang === 'ca-ES'">Nom de la persona a contactar</span>
            <span *ngIf="currentLang === 'en-EN'">Contact person name</span>
          </mat-label>
          <input matInput id="contactName" aria-describedby="nameHelp" formControlName="contactName"
          [ngClass]="f['contactName'].errors ? 'is-invalid':'is-valid'">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            <span *ngIf="currentLang === 'es-ES'">Dirección electrónica de contacto</span>
            <span *ngIf="currentLang === 'ca-ES'">Adreça electrònica de contacte</span>
            <span *ngIf="currentLang === 'en-EN'">Contact E.mail address</span>
          </mat-label>
          <input matInput type="email" id="contactEmail" aria-describedby="emailHelp" formControlName="contactEmail" 
          [ngClass]="f['contactEmail'].errors ? 'is-invalid':'is-valid'">
        </mat-form-field>
     
        <mat-form-field appearance="outline">
          <mat-label>
            <span *ngIf="currentLang === 'es-ES'">Teléfono</span>
            <span *ngIf="currentLang === 'ca-ES'">Telèfon</span>
            <span *ngIf="currentLang === 'en-EN'">Phone</span>
          </mat-label>
          <input matInput type="tel" id="contactPhone" aria-describedby="phoneHelp" maxlength="9" minlength="9" formControlName="contactPhone" 
          [ngClass]="!f['contactPhone'].errors ? 'is-valid' : 'is-invalid'">
        </mat-form-field>

        <p>
          <mat-label>
            <span *ngIf="currentLang === 'es-ES'">Tipo de encargo:</span>
            <span *ngIf="currentLang === 'ca-ES'">Tipus d'encàrrec:</span>
            <span *ngIf="currentLang === 'en-EN'">Type of order</span>
          </mat-label>
        </p>

        <p>
        <mat-radio-group aria-label="Select an option" appearance="outline" formControlName="workType">

          <span *ngIf="currentLang === 'es-ES'">
            <mat-radio-button value="Revisar fullet">Revisar folleto</mat-radio-button>
            <mat-radio-button value="Revisar guia">Revisar guía</mat-radio-button>
            <mat-radio-button value="Revisar cartell, senyalística">Revisar señalización, señalética y cartelería</mat-radio-button>
            <mat-radio-button value="Revisar publicació">Revisar publicación</mat-radio-button>
            <mat-radio-button value="Imatge corporativa">Imagen corporativa</mat-radio-button>
            <mat-radio-button value="Papereria">Papereria</mat-radio-button>            
          </span>
          <span *ngIf="currentLang === 'ca-ES'">
            <mat-radio-button value="Revisar fullet">Revisar fullet</mat-radio-button>
            <mat-radio-button value="Revisar guia">Revisar guia</mat-radio-button>
            <mat-radio-button value="Revisar cartell, senyalística">Revisar senyalització, senyalística i cartelleria</mat-radio-button>
            <mat-radio-button value="Revisar publicació">Revisar publicació</mat-radio-button>
            <mat-radio-button value="Imatge corporativa">Imatge corporativa</mat-radio-button>
            <mat-radio-button value="Papereria">Papereria</mat-radio-button>            
          </span>
          <span *ngIf="currentLang === 'en-EN'">
            <mat-radio-button value="Revisar fullet">Review brochure</mat-radio-button>
            <mat-radio-button value="Revisar guia">Review guide</mat-radio-button>
            <mat-radio-button value="Revisar cartell, senyalística">Review signage, signage and signposting</mat-radio-button>
            <mat-radio-button value="Revisar publicació">Review publication</mat-radio-button>
            <mat-radio-button value="Imatge corporativa">Corporate image</mat-radio-button>
            <mat-radio-button value="Papereria">Stationery</mat-radio-button>                
          </span>
        </mat-radio-group>
        </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>
            <span *ngIf="currentLang === 'es-ES'">¿Cómo te podemos ayudar?</span>
            <span *ngIf="currentLang === 'ca-ES'">Com et podem ajudar?</span>
            <span *ngIf="currentLang === 'en-EN'">How can we help you?</span>
          </mat-label>
          <textarea matInput rows="5" id="body" formControlName="body" 
          [ngClass]="f['body'].errors ? 'is-invalid':'is-valid'"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-checkbox
        formControlName="acceptTerms" 
        [ngClass]="f['acceptTerms'].errors ? 'is-invalid':'is-valid'">
        <a href='https://adrbalears.es/aviso-legal/2773' target="_blank">
         
          <span *ngIf="currentLang === 'es-ES'">Aceptar términos y condiciones</span>
          <span *ngIf="currentLang === 'ca-ES'">Acceptar termes i condicions</span>
          <span *ngIf="currentLang === 'en-EN'">Accept terms and conditions</span>
        </a>
      </mat-checkbox>
      </p>
    </div>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" mat-fab extended [disabled]="!contactForm.valid">
      <div class="text-center" *ngIf ="!submitted">Enviar</div>
      <div class="spinner-border" role="status" *ngIf ="contactForm.valid && submitted">
        <span class="visually-hidden">
          <span *ngIf="currentLang === 'es-ES'">Enviando consulta ...</span>
          <span *ngIf="currentLang === 'ca-ES'">Enviant consulta ...</span>
        </span>
      </div>
    </button>
  </div>
  <span id="postFeedback"></span>
</form>
{{contactForm.value | json}}
