<h3>
  <span *ngIf="currentLang === 'es-ES'">Listado de encargos</span>
  <span *ngIf="currentLang === 'ca-ES'">Llistat d'encàrrecs</span>
  <span *ngIf="currentLang === 'en-EN'">List design requests</span>
</h3>
<section class="data-container mat-elevation-z8" tabindex="0">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> 
        <span *ngIf="currentLang === 'es-ES'">Número de orden</span>
        <span *ngIf="currentLang === 'ca-ES'">Número d'ordre</span>
        <span *ngIf="currentLang === 'en-EN'">Order number</span>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef> 
        <span *ngIf="currentLang === 'es-ES'">Fecha encargo</span>
        <span *ngIf="currentLang === 'ca-ES'">Data d'encàrrec</span>
        <span *ngIf="currentLang === 'en-EN'">Order date</span>
       </th>
      <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
    </ng-container>

    <ng-container matColumnDef="agency">
      <th mat-header-cell *matHeaderCellDef> 
        <span *ngIf="currentLang === 'es-ES'">Organismo</span>
        <span *ngIf="currentLang === 'ca-ES'">Organisme</span>
        <span *ngIf="currentLang === 'en-EN'">Agency</span>
       </th>
      <td mat-cell *matCellDef="let element"> {{element.agency}} </td>
    </ng-container>

    <ng-container matColumnDef="contactPerson">
      <th mat-header-cell *matHeaderCellDef> 
        <span *ngIf="currentLang === 'es-ES'">Persona de contacto</span>
        <span *ngIf="currentLang === 'ca-ES'">Persona de contacte</span>
        <span *ngIf="currentLang === 'en-EN'">Contact person</span>
         </th>
      <td mat-cell *matCellDef="let element"> {{element.contactPerson}} </td>
    </ng-container>

    <ng-container matColumnDef="contactMail">
      <th mat-header-cell *matHeaderCellDef> 
        <span *ngIf="currentLang === 'es-ES'">Dirección de contacto</span>
        <span *ngIf="currentLang === 'ca-ES'">Adreça de contacte</span>
        <span *ngIf="currentLang === 'en-EN'">Contact E.mail</span>
       </th>
      <td mat-cell *matCellDef="let element"> {{element.contactMail}} </td>
    </ng-container>

    <ng-container matColumnDef="contactPhone">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="currentLang === 'es-ES'">Teléfono de contacto</span>
        <span *ngIf="currentLang === 'ca-ES'">Telèfon de contacte</span>
        <span *ngIf="currentLang === 'en-EN'">Contact Phone</span>
       </th>
      <td mat-cell *matCellDef="let element"> {{element.contactPhone}} </td>
    </ng-container>

    <ng-container matColumnDef="workType">
      <th mat-header-cell *matHeaderCellDef> 
        <span *ngIf="currentLang === 'es-ES'">Tipo de encargo</span>
        <span *ngIf="currentLang === 'ca-ES'">Tipus per encàrrec</span>
        <span *ngIf="currentLang === 'en-EN'">Work type</span>
         </th>
      <td mat-cell *matCellDef="let element"> {{element.workType}} </td>
    </ng-container>

    <ng-container matColumnDef="orderState">
      <th mat-header-cell *matHeaderCellDef> 
        <span *ngIf="currentLang === 'es-ES'">Situación</span>
        <span *ngIf="currentLang === 'ca-ES'">Situació</span>
        <span *ngIf="currentLang === 'en-EN'">Order State</span>
       </th>
      <td mat-cell *matCellDef="let element"> {{element.orderState}} </td>
    </ng-container>

    <ng-container matColumnDef="viewDetail">
      <mat-header-cell *matHeaderCellDef>
        <span *ngIf="currentLang === 'es-ES'">Ver detalles del encargo</span>
        <span *ngIf="currentLang === 'ca-ES'">View order details</span>
        <span *ngIf="currentLang === 'en-EN'">View order details</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-fab extended (click)="openDialog('300ms', '300ms', 'Order details', element)">View detail</button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</section>
<span id="postFeedback"></span>

