<h3>List design requests</h3>
<section class="data-container mat-elevation-z8" tabindex="0">
  <mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Order number </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef> Order date </th>
      <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="agency">
      <th mat-header-cell *matHeaderCellDef> Agency </th>
      <td mat-cell *matCellDef="let element"> {{element.agency}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="contactPerson">
      <th mat-header-cell *matHeaderCellDef> Contact person </th>
      <td mat-cell *matCellDef="let element"> {{element.contactPerson}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="contactMail">
      <th mat-header-cell *matHeaderCellDef> Contact E.mail </th>
      <td mat-cell *matCellDef="let element"> {{element.contactMail}} </td>
    </ng-container>

    <ng-container matColumnDef="workType">
      <th mat-header-cell *matHeaderCellDef> Work type </th>
      <td mat-cell *matCellDef="let element"> {{element.workType}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Work description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</section>
*********<span id="postFeedback"></span>*********

