/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body { height: 100%; }
body { font-family: Inter, "Helvetica Neue", sans-serif; max-width: 1120px; margin: 0 auto; }

a {
  text-decoration: none;
}

a:visited {
  color: #0098CB;
}

a:hover {
  color: #003747;
}